* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.header {
  background-color: rgba(36, 32, 45, 0.942);
  color: rgb(249, 249, 249);
  width: 100vw;
  height: 3.em;
  justify-content: center;
  align-items: center;
  display: flex;

}

h2 {
  font-weight: 700;
  font-size: xx-large;
  padding: 1rem;

}

.body-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

input {
  width: 20rem;
  border: 2px solid rgb(86, 82, 82);
  border-radius: 3px;
  margin: 0.2rem;
  padding-left: 5px;
  height: 50px;
  font-size: medium;
}

.searchBtn {
  font-weight: 600;
  font-size: medium;
  color: black;
}
.display {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.2em;
  padding: 0.5rem;
}

.display-cards {
  background-color: rgb(214, 247, 242);
  border: 2px solid rgb(121, 4, 109);
  margin: 0.1em;
  padding: 0.1rem;
  justify-content: center;
  align-items: center;

}

h4 {
  text-align: center;
  margin-top: 10px;
  font-size: larger;
}

.poster {
  margin-top: 15px;
  margin-bottom: 10px;
}

p{
   text-align: center;
   margin-bottom: 10px;
   font-weight: 500;
   font-size: large;
}
button {
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  width: 7rem;
}

button:hover {
  border: 2px solid rgb(23, 1, 1);
  color: rgb(245, 55, 55);
  background-color: rgb(196, 239, 239);
  /* font-weight: 700; */
  font-size: larger;

}